<body>
    <div class="container-fluid">
        <div class=-"row">
            <div class="col-md-3">
                <h2>Science Scraper</h2>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" type="submit">HOME</button>
            </div>
            <div class="col-md-2">
                <form action="/"
                <button type="button" class="btn btn-primary" type="submit">FAVORITES</button>
            </div>
            <div>
                <form action="/scrape" method="POST">
                    <button type="button" class="btn btn-danger" type="submit">SCRAPE</button>
                </form>
            </div>
        </div>
    </div>
</body>