
<body>
    <div class="container-fluid">
        <div class=-"row">
            <div class="col-md-3">
                <h2>Mongo Scraper</h2>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" type="submit">HOME</button>
            </div>
            <div class="col-md-2">
                <form action="/"
                <button type="button" class="btn btn-primary" type="submit">FAVORITES</button>
            </div>
            <div>
                <form action="/scrape" method="GET">
                    <button type="button" class="btn btn-danger" id="scraper" type="submit">SCRAPE</button>
                </form>
            </div>
        </div>
        <div class="container">
    <div class="row">
        {{!-- column to show Articles--}}
        <div class="col-md-9">
            <ul>
                {{#each articles}} 
                    {{!-- {{> make-note}} --}}
                    <li>{{this.title}}</li>
                {{/each}}
            </ul>
        </div>

    </div>
</body>